# Module to export event to a socket
# Loaded by the broker
# Used to get data for reporting
define module {
    module_name     Raw_Socket
    module_type     raw_socket
    host            localhost
    port            10000
    data            all
    tick_limit      3600
}

